<table>
	<tbody>
		<tr>
			<td>
				<div class="gravatar">
					 <%= gravatar_for current_user, size:40 %>
				</div>
			</td>
			<td>
				<p> 
				<%= "Currently you are using #{current_user.email}" %>
				<br />
				<a target="_blank" href="http://en.gravatar.com/">Change your avatar at Gravatar.com.</a></p>
			</td>
		</tr>
	</tbody>
</table>

<div class="separator7"></div>

<%= form_for current_user.profile do |f| %>

	<%= render 'shared/error_messages', :object => f.object %>

	<%= f.label :realname %>
	<%= f.text_field :realname, class: "input-field" %><br />
	<%= f.label :location %>
	<%= f.text_field :location, class: "input-field" %><br />				
	<%= f.label :company %>
	<%= f.text_field :company, class: "input-field" %><br />
	<%= f.label :blog %>
	<%= f.text_field :blog, class: "input-field" %><br />
	<%= f.label :github %>
	<%= f.text_field :github, class: "input-field" %><br />
	<%= f.label :twitter %>
	<%= f.text_field :twitter, class: "input-field"%><br />
	<%= f.label :weibo %>
	<%= f.text_field :weibo, class: "input-field"%><br />
	<%= f.label :bio %>
	<%= f.text_area :bio, rows: 5, style: "width: 320px" %><br />
	<br />
	<%= f.submit "Save profile changes", class: "btn btn-primary btn-large", 
	             style: "width: 330px" %>
<% end %>
