<p> <%= gravatar_for current_user, size:36, round:true %>
<%= "Currently you are using #{current_user.email}" %>
<br />
<a target="_blank" href="http://en.gravatar.com/">Change your avatar at Gravatar.com.</a></p>
<br />
<%= form_for current_user.profile do |f| %>

	<%= render 'shared/error_messages', :object => f.object %>

	<%= f.label :realname %>
	<%= f.text_field :realname %><br />
	<%= f.label :location %>
	<%= f.text_field :location %><br />				
	<%= f.label :company %>
	<%= f.text_field :company %><br />
	<%= f.label :blog %>
	<%= f.text_field :blog %><br />
	<%= f.label :github %>
	<%= f.text_field :github%><br />
	<%= f.label :twitter %>
	<%= f.text_field :twitter%><br />
	<%= f.label :weibo %>
	<%= f.text_field :weibo%><br />
	<%= f.label :bio %>
	<%= f.text_area :bio, rows: 5, style: "width: 320px" %><br />
	
	<%= f.submit "Save profile changes", class: "btn btn-primary btn-large", 
	             style: "width: 330px" %>
<% end %>
