<div class="rect">
	<h3>Edit Account</h3>
	<hr />
	<div class="user-form">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
		                       :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %>

		  <%= f.label :email %>
		  <%= f.email_field :email, class: "input-field" %>

		  <%= f.label :password %> 
		  <%= f.password_field :password, :autocomplete => "off", class: "input-field" %>

		  <%= f.label :password_confirmation %>
		  <%= f.password_field :password_confirmation, class: "input-field" %>

			<%= f.label :current_password %> 
		  <%= f.password_field :current_password, class: "input-field" %>
			<br />
			<br />
		  <%= f.submit "Update",  class: "btn btn-primary btn-large", style: "width:330px"%>
		<% end %>
	</div>
</div>