<% provide :title, "Sign up" %>

<div class="rect">
	<div class="inner bottomborder">
		<h3>Sign up</h3>
	</div>
	<div class="inner">

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

			<%= f.label :username %>
		  <%= f.text_field :username, class: "input-field" %>
	
		  <%= f.label :email %>
		  <%= f.email_field :email, class: "input-field" %>

		  <%= f.label :password %>
		  <%= f.password_field :password, class: "input-field" %>

		  <%= f.label :password_confirmation %>
		  <%= f.password_field :password_confirmation, class: "input-field" %>
			<br />
			<br />
		  <%= f.submit "Sign up", class: "btn btn-primary btn-large", 
			             style: "width: 330px" %>
		<% end %>
  </div>
</div>