<div class="rect">
	<h3>Join Coder x Coder</h3>
	<hr />
	<div class="user-form">

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

			<%= f.label :username %>
		  <%= f.text_field :username %>
	
		  <%= f.label :email %>
		  <%= f.email_field :email %>

		  <%= f.label :password %>
		  <%= f.password_field :password %>

		  <%= f.label :password_confirmation %>
		  <%= f.password_field :password_confirmation%>
			<br />
		  <%= f.submit "Sign up", class: "btn btn-primary btn-large", 
			             style: "width: 330px" %>
		<% end %>
  </div>
</div>