<div class="cell bottomborder">
	<table>
		<tbody>
			<tr>
				<td>
					<div class="gravatar">
						<%= link_to gravatar_for(comment.user), comment.user %>
					</div>
				</td>
				<td>
					<div class="separator5"></div>
					<div class="separator5"></div>
					<span class="grayfont link">
					<%= "\##{ (page.to_i - 1) * 30 + comment_counter + 1 } " %>
					<%= link_to current_user?(comment.user) ? "You" : comment.user.username , comment.user %>
					<%= "commented #{time_ago_in_words(comment.created_at)} ago." %></span>
					<div class="separator5"></div>
					<div class="comment-content"><%= generate_markdown(comment.content) %></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
