<%= link_to gravatar_for(comment.topic.user), comment.topic.user %>
<div class="comment">
	<p class="comment-title">
		<span class="comment-counter"></span>
		<span class="summary link">
		<%= "\##{ (page.to_i - 1) * 30 + comment_counter + 1 } " %>
		<%= link_to current_user?(comment.topic.user) ? "You" : comment.topic.user.username , comment.topic.user %>
		<%= "commented #{time_ago_in_words(comment.created_at)} ago." %></span>
	</p>
	<div class="comment-content"><%= generate_markdown(comment.content) %></div>
</div>
<hr />
