<%= link_to gravatar_for(topic.user), topic.user %>
<span class="user">
  <%= link_to topic.user.name, topic.user %>
</span>
<span class="content"><%= topic.title %></span>
<span class="timestamp">
  Posted <%= time_ago_in_words(topic.created_at) %> ago.
</span>
<% if current_user?(topic.user) %>
  <%= link_to "delete", topic, method:  :delete,
                                   confirm: "You sure?",
                                   title:   topic.title %>
<% end %>