<% provide :title, @topic.title %>

<div class="rect">
	
<% if @topic.content.empty? %>
	<div class="inner">
<% else %>
	<div class="inner bottomborder">
<% end %>
		<table>
			<tbody>
				<tr>
					<td>
						<div class="gravatar">
							 <%= link_to gravatar_for(@topic.user), @topic.user %>
						</div>
					</td>
					<td>
						<div class="topic-title"><%= @topic.title %></div>
						<div class="separator7"></div>
						<div class="topic-info">
						  <span class="grayfont link">
								<%= link_to @topic.user.username, @topic.user %>
							</span>
							<%= "posted #{time_ago_in_words(@topic.created_at)} ago. #{pluralize(@topic.comments_count, "comment")}. " %>
							<% if @topic.user == current_user %>
								<%= link_to "Edit", edit_topic_path %> |
								<%= link_to "Delete", @topic,
								 															method:  :delete,
						                                  confirm: "You sure?",
						                                  title:   @topic.title %>
							<% end %>
							
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  <div class="inner topic-content"><%= generate_markdown(@topic.content) %>  </div>
</div>

<% if !@comments.empty? %>
	<div class="rect">
		<div class= "inner bottomborder">
			<h4><%= "#{@topic.comments_count} comments" %></h4>
		</div>
		<div class="h-inner">
			<%= render partial: 'comments/comment', collection: @comments, locals: { page: @page } %>
			<%= will_paginate @comments %>			
		</div>
	</div>
<% end %>

<% if signed_in? %>
	<%= render 'comments/comment_form' %>
<% end %>
