<% provide :title, @topic.title %>

<div class="rect">
	<%= link_to gravatar_for( @topic.user),  @topic.user %>
	<div class="topic">
		<p class="title-topic-detail"><%= @topic.title %></p>
		<p class="timestamp">
		   <span class="grayfont link"><%= link_to @topic.user.username, @topic.user %></span> <%= "posted #{time_ago_in_words(@topic.created_at)} ago." %>
			<% if @topic.user == current_user %>
				<%= link_to "Edit", edit_topic_path %> | 
				<%= link_to "Delete", @topic,
				 															method:  :delete,
		                                  confirm: "You sure?",
		                                  title:   @topic.title %>
			<% end %>
		</p>
	</div>
	<hr />
	
  <p class="content-topic-detail"><%= generate_markdown(@topic.content) %>  </p>
</div>

<% if !@comments.empty? %>
	<div class="rect">
		<h4><%= "#{@topic.comments_count} comments" %></h4>
		<hr />
		<%= render partial: 'comments/comment', collection: @comments, locals: { page: @page } %>
		<%= will_paginate @comments %>
	</div>
<% end %>

<% if signed_in? %>
	<%= render 'comments/comment_form' %>
<% end %>
