<% provide :title, @topic.title %>

<div class="rect">
	<%= link_to gravatar_for( @topic.user),  @topic.user %>
	<div class="topic">
		<p class="title-topic-detail"><%= @topic.title %></p>
		<p class="timestamp">
		   <span class="label-name"><%= link_to @topic.user.name, @topic.user %></span> <%= "posted #{time_ago_in_words(@topic.created_at)} ago." %>
			<% if @topic.user == current_user %>
				<%= link_to "Edit", edit_topic_path %> | 
				<%= link_to "Delete", @topic,
				 															method:  :delete,
		                                  confirm: "You sure?",
		                                  title:   @topic.title %>
			<% end %>
		</p>
	</div>
	<hr />
	
	<p class="content-topic-detail"><%= simple_format h(@topic.content) %></p>
</div>