<%= provide :title, 'Sign up' %>
<ul class="breadcrumb">
	<li><%= link_to 'Home', root_path %></li>
	<span class="divider">/</span>
	<li>Sign up</li>
</ul>
<div class="well">
	<div class="row-fluid">
		<legend>Join CXC</legend>
		<div class="span-signup">
			
			<%= form_for(@user) do |f| %>

				<%= render 'shared/error_messages', :object => f.object %>

				<%= f.label :name %>
				<%= f.text_field :name, class: "input-xlarge input-signup" %><br />
				<%= f.label :email %>
				<%= f.text_field :email, class: "input-xxlarge input-signup" %><br />				
				<%= f.label :password %>
				<%= f.password_field :password, class: "input-xxlarge input-signup" %><br />
				<%= f.label :password_confirmation, "Confirmation" %>
				<%= f.password_field :password_confirmation, class: "input-xxlarge input-signup" %><br /><br />
				<%= f.submit "Create my CXC account", class: "btn btn-primary btn-large", 
				             style: "width: 330px" %>
			<% end %>
		</div>
	</div>
</div>


