<%= provide(:title, @user.username) %>

<% profile = @user.profile %>

<div class="rect">	
	<div class="inner bottomborder">
		<table>
			<tbody>
				<tr>
					<td width="80px">
						<div class="gravatar">
							 <%= gravatar_for(@user) %>
						</div>
					</td>
					<td>
						<h1>
							<span><%= @user.username %></span>
						</h1>
					</td>
					
					<td width="800px", align="right">
						<strong>
						<% if @user == current_user %>
							<%= link_to "Edit Profile",edit_profile_path(@user.profile), class: "btn" %>
						<% end %>
						</strong>
					</td>
				</tr>
			</tbody>
		</table>
	</div>	
	

	<% if !profile.realname.blank? || !profile.location.blank? || !profile.company.blank? || !profile.blog.blank? || !profile.github.blank? ||
		!profile.twitter.blank? || !profile.weibo.blank? || !profile.bio.blank? %>
		<div class="h-inner profile-list bottomborder">
			<dl>
				<% if !profile.realname.empty? %>
					<dt>Real Name</dt>
					<dd><%= profile.realname %></dd>
				<% end %>

				<% if !profile.location.empty? %>
					<dt>Location</dt>
					<dd><%= profile.location %></dd>
				<% end %>

				<% if !profile.company.empty? %>
					<dt>Company</dt>
					<dd><%= profile.company %></dd>
				<% end %>

				<% if !profile.blog.empty? %>
					<dt>Blog</dt>
					<dd><%= link_to profile.blog, profile.blog,target: "_blank" %></dd>
				<% end %>

				<% if !profile.github.empty? %>
					<dt>GitHub</dt>
					<dd><%= link_to profile.github, "https://github.com/#{profile.github}", 
					target: "_blank" %></dd>
				<% end %>

				<% if !profile.twitter.empty? %>
					<dt>Twitter</dt>
					<dd><%= link_to "@#{profile.twitter}", "https://twitter.com/#{profile.twitter}", target: "_blank" %></dd>
				<% end %>

				<% if !profile.weibo.empty? %>
					<dt>Weibo</dt>
					<dd><%= link_to "@#{profile.weibo}", "http://weibo.com/#{profile.weibo}", target: "_blank" %></dd>
				<% end %>			
			</dl>
		</div>
		<% if !profile.bio.empty? %>
			<div class="inner bio"><%= profile.bio %>	</div>	
		<% end %>
	<% else %>
		<span class="bio"> 
			<% if current_user?(@user) %>
				You have not set up your profile yet!
			<% else %>
				This guy have not set up his profile yet!
			<% end %>
		</span>		
	<% end %>
</div>

<% if @user.topics.any? %>
<div class="rect">
	<div class="inner bottomborder">
		<h3><%= "#{@user.username}'s topics" %></h3>
	</div>
	
	<ul class="v-inner">
		<%= render partial: 'topics/created_topic', collection: @created_topics %>
	</ul>
	<%= will_paginate @created_topics %>
</div>
<% end %>

<% if @user.comments.any? %>
<div class="rect">
	<div class="inner bottomborder">
		<h3><%= "#{@user.username}'s comments" %></h3>
	</div>
	
	<ul class="v-inner">
		<%= render partial: 'topics/commented_topic', collection: @commented_topics %>
	</ul>
	<%= will_paginate  @commented_topics %>
</div>
<% end %>
