<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Coder x Coder", root_path, :class  =>  "brand" %>
			<nav>
				<ul class="nav pull-left">
					<li><%= link_to "Topics", topics_path %></li>
				</ul>
				<ul class="nav pull-right">
					<% if signed_in? %>					
					
						<li id="fat-menu" class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<%= header_gravatar_for current_user %> <%= current_user.username %><b class="caret"></b>
		            </a>
							<ul class="dropdown-menu">
								<% c = current_user.unread_topic_count %>
								<% if c > 0 %>
									<li><%= link_to "Notifications(#{c})", notifications_path %></li>
								<% else %>
									<li><%= link_to "Notifications", notifications_path %></li>
								<% end %>
								
								<li><%= link_to "Profile", current_user %></li>
	 							<li><%= link_to "Account", edit_user_registration_path(current_user) %></li>
	              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
							</ul>
						</li>
					<% else %>
						<li><%= link_to "Sign in", new_user_session_path %></li>
						<li><%= link_to "Sign up", new_user_registration_path %></li>
					<% end %>
				</ul>					
			</nav>
		</div>
	</div>
</header>