<!DOCTYPE html>
<html>
<head>
  <title><%= generate_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<link rel="icon" href="<%= asset_path("favicon.png") %>" />
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %> </div>
		<% end %>
		<%= yield %>
		<div class="footer">
			<span class="grayfont link">Created by 
				<a href="http://www.slyfairy.com/" title="SlyFairy" target="_blank">SlyFairy</a>
				 ♥ For Xcoders 				
			</span>
		</div>
 	  <!-- <%= debug(params) if Rails.env.development? %> -->
	</div>	
	
</body>
</html>
